/*#### The Logo ####*/
/*#### Very Old school ####*/

body{
    margin: 0;
}

.site-id {
 display: flex;
 opacity: 0.2;
}


.logo {
  width: 80px;
  height: auto;
  

}

.site-title {

}

.baseline{
    font-size:2em;
    margin: auto;
}

/*#### Navigation ####*/


header {
    display: flex;
}


@media (min-width:1081px) {



    .main-menu{
        margin: auto;
        width: 100%;
        
    
        
    }
    .nav-content{
        display: flex;
        justify-content: flex-end;
    }

    .nav-content nav{
        display: flex;
       
    }
    
    .nav-content ul{
        display: flex;
   
    }
    
    .nav-content li{
        list-style: none;
    
      
    }

    .nav-content a{
        font-family: 'Lilita One', sans-serif;
        color: #c4c4c4;
        text-decoration: none;
        margin: auto 4em auto 4em;   

      
    }

    .nav-content a:hover{
        font-family: 'Lilita One', sans-serif;
     
        color: #86a44a;
    text-decoration: none;
        margin: auto 4em auto 4em;   
    } 

    .nav-content a:active{
        font-family: 'Lilita One', sans-serif;
        
        color: #353535;
    text-decoration: none;
        margin: auto 4em auto 4em;  

    }
}
    
    /* 3 spans pour faire le menu burger */
@media (max-width:1080px) { 

    
    .menu-toggle .burger-breads span{
    display: block;
    width: 33px;
    height: 4px;
    background: #cdcdcd;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}

.menu-close .burger-breads span{
    display:block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    transform: rotate(45deg) translate(-2px,-1px);
    background: #d9e8bc;
    z-index: 1;
}

/* positionnement croix de fermeture du menu */ 
.menu-close .burger-breads span:nth-child(2){
    transform: rotate(135deg) translate(-7px, 9px);
}

.menu-close .burger-breads span:nth-child(3){
   opacity: 0;
}

.menu-toggle{
    display:inline-block;
    padding: 1em;
}

.main-menu{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    transition: left 0.3s ease, box-shadow 0.3s ease;
    z-index: 999;
}

.main-menu ul{
    margin: 0;
    padding: 2.5em 0 0;
    min-height: 800px;
    width: 300px;
    background: #eceff1;
}

.main-menu a{
    display: block;
    padding: 0.75em 15px;
    font-family: 'Lilita One', sans-serif;
    line-height: 5em;
    font-size: 1em;
    color: #353535;
    text-decoration: none;
    border-bottom: 1px solid #86a44a;  
    text-align: center;
}

.main-menu li:first-child a{
    border-top: 1px solid #86a44a;
}

ul a:hover,
ul a:focus {
  background: #86a44a;
  text-decoration: underline;
}
.main-menu .menu-close {
  position: absolute;
  right: 0;
  top:7px;
  border-bottom: 1px solid transparent;
}


.main-menu{
    display: none;
    left: -200px;
}

.main-menu:target{
    display: block;
    left: 0px;
    outline: none;
    box-shadow: 3px 0 12px #86a44a .25;

}

.main-menu:target .menu-close{
    z-index: 1001;
}

.main-menu:target ul{
    position: relative;
    z-index: 1000;
}

.main-menu:target + .backdrop {
    position: absolute;
    display: block;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    opacity: 0.7;
    cursor: default;
}

@supports (position: fixed){
    .main-menu,
    .main-menu:target + .backdrop {
        position:fixed;
    }
    
}


.main-content {
    text-align: justify;
}

.text-main{
display: flex;
flex-wrap: wrap;
min-width: 100%;
font-size: 0.8em;
margin: -5em;

}


.dossier-top {
    display: flex;
    flex-wrap: wrap;
  
}

.dossier-top-content {
    text-align: center;
    margin: auto;
}

.dossier-top img{
    margin: auto;
}

.wrapper{
    display: grid;
}
}


h2{
     color : white;
     text-align: center;
     margin: 0em auto 0em auto;

}


.teaser-list h3{
text-align: center;

}


/*#### Columns ####*/
/*#### reading ####*/



.main-content {
  display: flex;
  text-align: justify;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1em;
  margin: 2em;
  margin-right: 4em;
  margin-left: 4em;
}


.description-content{
    padding: 2em;
}

.text-main{

    column-rule: 5px dotted #86a44a;
    background: #eceff1;
    padding: 2em;
    border-radius: 5px;
    column-span: all;
    column-count: 3;
}

.text-main p{
    padding-left: 1em;
    padding-right: 1em;
}


.hero{
  background: url(../images/th/th-image-17.jpg);
  object-fit: cover;
 background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero div{
margin: 20% auto 20% auto;
max-width: 40rem;
}

.hero p{
  font-size: 1.2rem;
  text-align: center; 
  
}

figure{
    text-align: justify;
}

.gorilla-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}


/*#### Teaser List ####*/
/*#### Homepage ####*/

.teaser-list {
display: flex;
flex-wrap: wrap;
text-align: center;
margin-bottom: 10em;

}

.product-list-item {
margin: auto;
margin-top: 2em;
width: 380px;
}

.product-list-item:hover{

 
}

.product-list-item img {
width: 100%;
}

.gorilla-list-item{
   padding-left: 2px;
text-align: right;
margin: auto;
margin-top: 2em;
width: 380px;

}

/*### dossier-top Styles ###*/

.dossier-top{
display: flex;
flex-direction: row;
}

.dossier-top-content {
      text-align: center;
      margin: auto;
}


.strip-image {
    display: flex;
}


.more-link {
    color:#252525;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c4c4c4;
    border-radius: 5px;
    width: 100%;
    display: block;
    text-align: center;
    
    }

    .more-link:hover {
        background-color: #86a44a;
        color: white;
        transition: all 0.3s linear 0s;
        }
/*### FOOTER Styles ###*/

footer {
background-color: #f7f7f7;
font-family: "Poppins";
height: 300px;
color: #727272;

}

footer li{
    list-style: none;
}

footer a:hover{
    color: #86a44a;
}
/* Grid Layout CSS */
.wrapper {
    display: grid;
    grid-template-columns: 500px 250px;
    grid-gap: 200px;  
    width: 100%;
    justify-items: stretch;
}

  .one {
    grid-column: 1;
    grid-row: 1;
   margin: auto;
  }

  .one a{
      text-decoration: none;
      color:#727272;
  }

  .need-contact{
  display: flex;
  
  }

  .one img{
    margin: auto 1em auto 1em;
  }

  .items-contact{
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  .two { 
    grid-column: 2;
    grid-row: 1;
    margin-top: auto;
    margin-bottom: auto;
  }

  .two a{
    text-decoration: none; 
    color:#727272;
  }

  .three {
    grid-column: 3;
    grid-row: 1;
    margin-top: auto;
    margin-bottom: auto;
  }

  .three a{
    text-decoration: none; 
    color:#727272;
  }

  #icon-footer{
      background-image: url(../images/logos-n-icons/mail.png);
      width: 100%;
      height: auto;
  }